test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d701ad14-8a14-40bf-88d0-0d74ce58a1e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="b392bcb0-a88c-4036-bb4c-292682c9703d" >
		<http:listener doc:name="Listener" doc:id="9827091c-d4f6-4cc4-8596-09254fd024f5" config-ref="HTTP_Listener_config" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="b488bafa-bfda-4730-9b24-bbf66155a7c1" message="Flow is triggered"/>
		<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{ &#10;"msg" : "Welcome"&#10;}]' doc:name="Set Payload" doc:id="0edbb6c7-02c8-4c9b-ad6d-438c21003e44" />
	</flow>
</mule>
