sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	 xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fadb69d9-b65a-4292-b4d4-21bb4b169e9c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c38e459b-c10a-42d7-b76a-02fcac21f09a">
		<http:request-connection host="127.0.0.1" port="8088" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="7512ee17-fe4f-4d73-a89f-4840bbdb116d" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="sampleFlow1" doc:id="de049dc5-9cd2-47e9-b044-ee9e9792832d" >
		<http:listener doc:name="Listener" doc:id="ad774465-66cc-4dba-88f6-8507717c87aa" config-ref="HTTP_Listener_config1" path="cache"/>
		<logger level="INFO" doc:name="Logger" doc:id="7a32d66f-fe34-4f75-82e7-6638dfa76c95" message="#[&quot;received request :&quot; ++ write(payload,'application/json')]"/>
		<ee:transform doc:name="Transform Message" doc:id="bdfa2301-f71b-4e6b-9879-6cfa000f26d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg" : "Success!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
